@import "tailwindcss";

:root {
  --background: #dad1d1;
  --foreground: #f5eaea;
  --color-green-50: oklch(0.8 0.23 151.61);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #dad1d1;
    --foreground: #ededed;
  }
}

@keyframes slide-up {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
}

body {
  background: var(--background);
  color: rgb(54, 52, 52);
  font-family: Arial, Helvetica, sans-serif;
}
